#info {
	font-size: 50px;
	font-weight: bold;
}
#size {
	margin-bottom: 100px;
	width: 631px;
	margin: 0 auto;
}
#actions {
	float: right;
	margin-top: 25px;
}
#size > span {
	float: left;
	position: relative;
	top: 34px;
	margin: 0 25px;
	padding: 7px;
}
#message-holder input {
	width: 100%;
	border-radius: 5px;
	height: 40px;
	border: 1px solid #EEE;
	text-indent: 15px;
}
#size ul {
	float: left;
}
.modal-header .close {
	color: #FFF;
}
.ta-right {
	text-align: right;
}
.footer {
	text-align: center;
}
#latitude, #longitude, #accuracy {
	text-align: center;
}
#messages {
	max-height: 300px;
	overflow: auto;
}